@page "/Compra/CreateCompra"
@inject NavigationManager navigation
@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForSEII2526APIClient apiclient
@inject ILogger<CreateCompra> logger
@inject CompraStateContainer compraState

@attribute [Authorize]

<h3>Create Compra</h3>

@* compra is the object that will be edited thanks to the form *@
<EditForm Model="compra" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary class="row alert alert-danger" />
    </div>
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="compra.NombreCliente" class="form-control" id="Name" />
                <label for="Name">Nombre </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="compra.ApellidoCliente" class="form-control" id="Surname" />
                <label for="Name">Apellido </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="compra.DireccionEnvio" class="form-control" id="DeliveryAddress" />
                <label for="DeliveryAddress">Direccion Envio</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                @*a dropdown for selecting the payment method*@
                <InputSelect class="form-select" @bind-Value="@compra.MetodoPago" id="PaymentMethod">
                    <option value="@TiposMetodoPago.TarjetaCredito" default> Tarjeta</option>
                    <option value="@TiposMetodoPago.PayPal"> PayPal</option>
                    <option value="@TiposMetodoPago.Efectivo"> Efectivo</option>
                </InputSelect>
                <label for="PaymentMethod">Metodo de pago</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to purchase tools*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Comprar herramientas
                </button>
            </div>
        </div>
    </div>
    <h4>Compra detail</h4>
    <p>
        <b>Precio Total:</b> @TotalCost €
        <button class="btn btn-outline-primary" type="submit" @onclick="ModifyCompraItems" id="ModifyItems">
            Modificar herramientas
        </button>
    </p>

    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRentalItems">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Material</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var h in compra.CompraItems)
                {
                    <tr id="MovieData_@h.HerramientaId">
                        <td>@h.Nombre</td>
                        <td>@h.Material</td>
                        <td>@h.Precio</td>
                        <td><InputText @bind-Value="h.Descripcion" class="form-control" id="@($"description_{h.HerramientaId}")" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed to rent*@
@if (DialogIsOpen)
{
    <Dialog Caption="Comprar Herramientas"
            Message="¿Quieres seguir con el proceso de compra?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private string messageError = "";
    private bool hideErrors { get { return messageError.Length == 0; } }
    private bool DialogIsOpen;

    private void ModifyCompraItems()
    {
        navigation.NavigateTo("/Compra/SelectHerramientaCompra"); 
    }
    private CompraDTO compra => compraState.Compra;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private float TotalCost
    {
        get
        {
            float total = 0;
            foreach (var item in compra.CompraItems)
            {
                total += item.Precio;
            }
            return total;
        }
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
            if (compra.CompraItems.Count > 0)
            {
                try
                {
                    var comprado = await apiclient.CreateCompraAsync(compra);
                    compraState.CompraProcessed();
                    navigation.NavigateTo($"/Compra/DetailsCompra/?CompraID={compraState.GetID(compra)}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {

                    if (apiexceptionvalidation.Result.Errors.Values != null)
                    {
                        messageError = "";
                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                            //https://learn.microsoft.com/en-us/dotnet/api/system.string.join?view=net-7.0
                            messageError = string.Join("(*) ", messageError, string.Join(" (*) ", errors));
                    }
                }
                catch (ApiException apiexception)
                {
                    //we need to inform user that there was some other error while processing the request
                    messageError = "Error while processing your request, please try again later!";

                }

            }
        }
    }

    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    compra.NombreCliente = user.Identity.Name;
                }
            }
            compra.NombreCliente = compra.NombreCliente == null ? "" : compra.NombreCliente;
            compra.ApellidoCliente = compra.ApellidoCliente == null ? "" : compra.ApellidoCliente;
            compra.DireccionEnvio = compra.DireccionEnvio == null ? "" : compra.DireccionEnvio;

        }
    }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

   
}