@page "/Compra/SelectHerramientaCompra"

@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<SelectHerramientaCompra> logger
@inject CompraStateContainer compraState
@inject NavigationManager navigation

<h3>Selecciona herramientas para comprar</h3>

<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Material</span>
                        <input type="text" id="inputMaterial" @bind=herramientaMaterial class="form-control" placeholder="Material" aria-label="Material" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Precio</span>
                        <input type="text" id="inputPrecio" @bind=herramientaPrecio class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="basic-addon1">
                    </div>
                </div>
                
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@BuscarHerramienta id="buscarHerramientas">Buscar Herramientas</button>
                </div>

            </div>
            <div class="row">
                @if (herramientas == null) {
                    <p>Cargando Herramientas....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfHerramientas">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Material</th>
                                    <th>Precio</th>
                                    <th>Fabricante</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var h in herramientas) {
                                    <tr id="HerramientaData_@h.Id">
                                        <td>@h.Id</td>
                                        <td>@h.Nombre</td>
                                        <td>@h.Material</td>
                                        <td>@h.Precio</td>
                                        <td>@h.Fabricante.Nombre</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" id="herramientaParaComprar_@h.Nombre" @onclick="@(() => AddHerrmienta(h))">Añadir</button>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                    </div>

                }
            </div>
        </div>
        <div class="col-2" hidden="@hideCompraCart">
            <div class="row">
                <h3>Carrito</h3>
            </div>
            @foreach (CompraItemDTO item in compra.CompraItems) {
                <div class="row">
                    <button type="button" class="btn btn-light" id="removeHerramienta_@item.Nombre" @onclick="@(() => RemoveCompraItem(item))">x @item.Nombre - @item.Precio€</button>
                </div>
            }
            <div class="row">
                <button type="button" class="btn btn-primary" id="TramitarCompra" @onclick=@TramitarCompra>Comprar herramientas</button>
            </div>
        </div>

    </div>

</div>

@code {
    private bool hideCompraCart { get { return compra.CompraItems.Count == 0; } }
    private ICollection<CompraHerramientasDTO> herramientas;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string herramientaMaterial { get; set; }
    private float herramientaPrecio { get; set; }
    private CompraDTO compra => compraState.Compra;
    private bool hiddenCompraCart = true;

    private void AddHerrmienta(CompraHerramientasDTO h) {
        compraState.AddHerramientaToCompra(h);
    }

    private void RemoveCompraItem(CompraItemDTO item) {
        compraState.RemoveItemFromCompra(item);
        if (compra.CompraItems.Count == 0) hiddenCompraCart = true;
    }

    public async void BuscarHerramienta() {


        float PrecioParaEnviar = herramientaPrecio;

        if (PrecioParaEnviar <= 0) {
            PrecioParaEnviar = 100000;
        }


        try {
            herramientas = await apiclient.GetHerramientasDisponiblesAsync(herramientaMaterial, PrecioParaEnviar);

        }
        catch (ApiException ex) {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }


    private void TramitarCompra() {
        navigation.NavigateTo("/Compra/CreateCompra");
    }

}