@* @* @page "/Reparacion/PostReparacion"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@using Microsoft.AspNetCore.Authorization
@inject ILogger<PostReparacion> logger
@inject NavigationManager navigation
@inject ReparacionStateContainer ReparacionState

@attribute [Authorize]

<h3>PostReparacion</h3>

<EditForm Model="repa" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary class="row alert alert-danger" />
    </div>
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="rental.NameCustomer" class="form-control" id="Name" />
                <label for="Name">Name </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="rental.SurnameCustomer" class="form-control" id="Surname" />
                <label for="Name">Name </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="rental.DeliveryAddress" class="form-control" id="DeliveryAddress" />
                <label for="DeliveryAddress">Delivery Address</label>
            </div>
        </div>
    </div>
        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@@*
                <button class="btn btn-primary" type="submit" id="Submit">
                    Repara las herramientas
                </button>
            </div>
        </div>
    <h4>Rental detail</h4>
    <p><b>Date from:</b> @rental.RentalDateFrom.ToString("dd/MM/yyyy") <b>to:</b> @rental.RentalDateTo.ToString("dd/MM/yyyy")</p>
    <p>
        <b>Total price:</b> @TotalCost €
        <button class="btn btn-outline-primary" type="submit" @onclick="ModifyRentalItems" id="ModifyMovies">
            Modify movies
        </button>
    </p>
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRentalItems">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price For Renting</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in rental.RentalItems)
                {
                    <tr id="MovieData_@item.Title">
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.PriceForRenting</td>
                        <td><InputText @bind-Value="item.Description" class="form-control" id="@($"description_{item.MovieID}")" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@if (DialogIsOpen)
{
    <Dialog Caption="Rental movies"
    Message="Do you want to proceed to rent the selected movies?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private ReparacionDTO repa => ReparacionState.Reparacion;
    private bool DialogIsOpen;
    private object? errors;
    private string messageError = "";
    private bool hideErrors { get { return messageError.Length == 0; } }

    private decimal TotalCost
    {
        get
        {
            int days = (rental.RentalDateTo.DateTime - rental.RentalDateFrom.DateTime).Days;
            double price = rental.RentalItems.Sum(ri => ri.PriceForRenting * days);
            return Convert.ToDecimal(price);
        }
    }
    private void ModifyRentalItems()
    {
        navigation.NavigateTo("/rental/selectmoviesforrental");
    }



    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
            if (rental.RentalItems.Count > 0)
            {
                try
                {
                    var rented = await apiclient.CreateRentalAsync(rental);
                    rentalState.RentalProcessed();
                    navigation.NavigateTo($"/rental/detailrental/?RentalID={rented.Id}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {

                    if (apiexceptionvalidation.Result.Errors.Values != null)
                    {
                        messageError = "";
                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                            //https://learn.microsoft.com/en-us/dotnet/api/system.string.join?view=net-7.0
                            messageError = string.Join("(*) ", messageError, string.Join(" (*) ", errors));
                    }
                }
                catch (ApiException apiexception)
                {
                    //we need to inform user that there was some other error while processing the request
                    messageError = "Error while processing your request, please try again later!";

                }

            }

        }
    }

    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    rental.UserNameCustomer = user.Identity.Name;
                }
            }
            rental.NameCustomer = rental.NameCustomer == null ? "" : rental.NameCustomer;
            rental.SurnameCustomer = rental.SurnameCustomer == null ? "" : rental.SurnameCustomer;
            rental.DeliveryAddress = rental.DeliveryAddress == null ? "" : rental.DeliveryAddress;

        }
    }


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }


}
 *@