@page "/Reparacion/SelectHerramientaReparacion"

@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<SelectHerramientaReparacion> logger
@inject ReparacionStateContainer ReparacionState
@inject NavigationManager navigation

<h3>SelectHerramientaReparacion</h3>

<div class="container-fluid">
    <div class="row" hidden="@hideErrors">
        <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
            <p id="ErrorsShown">Errors: @errors</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <p>Muestro los filtros</p>
                @* Filtros debajo *@
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" id="inputTitle" @bind=NombreHerrami class="form-control" placeholder="Nombre" aria-label="NOMBRE" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Dias</span>
                        <input type="text" id="inputGenre" @bind=diasRepa class="form-control" placeholder="Dias" aria-label="DIAS" aria-describedby="basic-addon2">
                    </div>
                </div>
                @* Boton debajo *@
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchHerramienta id="searchHerramientas">Buscar Herramienta</button>
                </div>
            </div>
            <div class="row">
                <p>muestro la lista de herramientas</p>
                @if (Herramienta == null)
                {
                    <p>Cargando herramientas....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfHerramienta">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Material</th>
                                    <th>Precio</th>
                                    <th>Fabricante</th>
                                    <th>Tiempo Reparacion</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var h in Herramienta)
                                {
                                    <tr id="HerramientaRow_@h.Id">
                                        <td>@h.Id</td>
                                        <td>@h.Nombre</td>
                                        <td>@h.Material</td>
                                        <td>@h.Precio</td>
                                        <td>@h.Fabricante</td>
                                        <td>@h.TiempoReparacion</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" id="BtnAdd_@h.Id" @onclick="@(() => AddReparacion(h))">Añadir</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                }
            </div>
        </div>
        <div class="col-2" hidden="@hideRentingCart">
            <div class="row">
                <h3>Shopping Cart</h3>
            </div>
            @foreach (ReparacionItemDTO item in repa.ItemsReparacion)
            {
                <div class="row">
                    <button type="button" class="btn btn-light" id="removeHerramienta_@item.NombreHerramienta"@onclick="@(() => RemoveReparacionItem(item))">
                        
                        x @item.NombreHerramienta - @item.Precio €</button>
                </div>
            }
            <div class="row">
                <button type="button" class="btn btn-primary" id="processBtn" @onclick=@TramitarReparacion>Tramitar Reparación</button>
            </div>
        </div
    </div>

</div>


@code {
    private bool hideRentingCart { get { return repa.ItemsReparacion.Count == 0; } }
    private ICollection<HerramientaRepaDTO> Herramienta;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string NombreHerrami { get; set; }
    private int diasRepa { get; set; }

    private ReparacionDTO repa => ReparacionState.Reparacion;

    private bool hiddenRentingCart = true;

    private void AddReparacion(HerramientaRepaDTO herramienta)
    {
        ReparacionState.AddHerramientaToReparacion(herramienta);
    }

    private void RemoveReparacionItem(ReparacionItemDTO item)
    {
        ReparacionState.RemoveItemFromReparacion(item);
        if (repa.ItemsReparacion.Count == 0) hiddenRentingCart = true;
    }

    public async void SearchHerramienta()
    {
        int diasRepaPasa = diasRepa;

        if(diasRepaPasa <= 0 )
        {
            diasRepaPasa = 10000;
        }
        try
        {
            Herramienta = await apiclient.GetHerramientasDisponiblesParaRepararAsync(NombreHerrami, diasRepaPasa);
            errors = "";

        }
         catch (ApiException ex)
        {
             logger.LogError($"{DateTime.Now} Error: {ex}");
             errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    private void TramitarReparacion()
    {
        navigation.NavigateTo("/Reparacion/PostReparacion");
    }

}
